@{
    ViewData["Title"] = "Home Page";
}


    <div class="overlay"></div>
    <div class="container">
        <div class="intro">
            <h1>
                Welcome to Wheat Works!
                <p>
                    Order fresh baked bread from local bakeries across the country.
                </p>
            </h1>
        </div>
    </div>



