/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    background: none;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.logo img{
    Width: 200px;
    height: 200px;
    margin-top: -7px;
}
.navbar-collapse {
    justify-content: center;
}
.nav-link:hover {
    background: #f4f4f4;
    color: #f97300;
}
.nav-link{
    margin-right: 1em !important;
    color: #d4852f
}
.bg-dark {
    background-color: #343a40 !important
}

.bg-primary {
    background-color: #007bff !important
}
.header {
    background-image: url('../images/BackGround.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background: rgba(244, 244, 244, 0.2);
}
/*Home Index Formatting*/
.intro {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.intro h1 {
    color: #fff;
}
 
.intro p {
    color: #fff;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}

.intro button {
    border: 1px solid #F97300;
    background: #e47810;
    color: #fff;
}

/*Customer Index Formatting*/
.customer {
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
    padding: 2em;
    color: #fff;
}
.customer h1 {
    color: #fff;
}
.customer th{
    color: #fff;
}
.customer td{
    color: #fff;
}
.orders {
    position: absolute;
    top: 30%;
    padding: 2em;
    color: #fff;
}
.orders h1 {
    color: #fff;
}

.orders th {
    color: #fff;
}

.orders td {
        color: #fff;
}
    /* Sticky footer styles
-------------------------------------------------- */
    html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/*.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}*/

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
